* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}


.container{
    max-width: 960px;
    /* auto puts same amount of margin on both sidestr and same for top and bottom */
    margin: 5px auto; 
    display: grid;
    /* three columns: first and last are equal size (quarter of size of the middle) */
    grid-template-columns: 1fr 4fr 1fr;
    /* three rows: first last are equal size (eighth of size of middle) */
    grid-template-rows: 1fr 8fr 1fr;
    /* making three columns three rows */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, 200px); */

}


.item{
    background-color: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: solid 1px skyblue;
}


.item:nth-of-type(1),.item:nth-of-type(5){
    grid-column: 1/4;
} 


@media(max-width:500px){
 
    .container{
        grid-template-columns: 1fr;
    }
    
    .item:nth-of-type(1),.item:nth-of-type(5){
        grid-column: 1/1;
    } 
}




