* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.flex-container{
    /* height: 400px; */
    display: flex;
    background-color: #f4f4f4; 
    flex-wrap: wrap;

    /* moves items to end, start, center, etc (moves along main axis, in this case horizontal) */
    /* justify-content: space-between; */
    /* moves along cross axis (in this case vertical axis). moves to top, bottom, center, etc.  */
    /* align-items: start;  */

}

.item{
    /* width: 100px; */
    /* width of item */
    /* flex-basis: 100px;  */
    flex: 1 0 100px; /*flex grow, shrink, basis*/
    height: 100px;
    background: #254de4;
    color: white;
    margin: 10px;

    /*making a flex item a container to do stuff inside item (like center text, for ex)*/
    display: flex; 
    justify-content: center;
    align-items: center;
    

}


/*
select specific item and do something to it through align-self 
.item:nth-of-type(1){
    align-self: start;
}

.item:nth-of-type(2){
    align-self: center;
}

.item:nth-of-type(3){
    align-self: end;
}
*/

