/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;  
}

body{
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background-color: white;
}

h1{
    font-family: 'Bungee Shade', sans-serif;
}

/* making page layout grid */
.container{
    display: grid;
    /* two columns */
    grid-template-columns: 1fr 1fr;
    /* rows with different heights*/
    grid-template-rows: 50px 100px 400px 100px 570px 570px 100px; 
}

/* extends item accross columns  */
.item:nth-of-type(1), .item:nth-of-type(2), .item:nth-of-type(3), .item:nth-of-type(4), .item:nth-of-type(9){
    grid-column: 1/3;   
}


.item{
    /* border: solid 1px black; */
    /* making each item flex to center content in grid container */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOCAL */

/* OUR STORY/TEAM HEADER */

/* sizing/coloring headers */
.item:nth-of-type(2) h1, .item:nth-of-type(4) h1{
    color: black;
    font-size: 40px;
}

/* OUR STORY HEADER*/
.item:nth-of-type(2){
    text-align: center;
    background-color: #6FEDD6;
}

/* OUR STORY TEXT */
.item:nth-of-type(3){
    /* background img with dark filter over it for text to appear better */
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(images/shop.jpg);
    /* formatting/positioning background img */
    background-position: center top;
    background-size: 1500px;

}

/* chaning flex direction to center header over paragraph text */
.item:nth-of-type(3) .our-story-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* sizing/coloring header */
.item:nth-of-type(3) h1{
    color: white;
    font-size: 30px;
}

/* positioning/coloring paragraph  */
.item:nth-of-type(3) p{
    color: white;
    margin: 0 4% 0;
    
}

/* OUR TEAM HEADER */
/* changing background color */
.item:nth-of-type(4){
    background-color: #B9FFF8;
}

/* PROFILES */
/* employee's profile */
.person{
    /* centering/formatting each profile */
    display: flex;
    /* chaning flex direction to profile content over each other */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

/* sizing profile img */
.person .profile{
    width: 300px;
} 

/* formatting profileheader */
.person h2{
    margin-top: 2%;
}

/* formatting profile paragraph */
.person p{
    padding: 0 17% 0;
}


/* FOOTER */

/* text */
.item:nth-of-type(9){
    background-color: #FF4A4A;
}

/* positioning/sizing/coloring header */
.item:nth-of-type(9) h1{
    text-align: center;
    color: black;
    font-size: 25px;
}



/*img icons */
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* img icons */
.img-link, .icon{
    width: 25px;
    height: auto;
    margin: 10px 5px 0;
}


@media(max-width: 750px){

    /* changing grid row size */
    .container{
        grid-template-rows: 50px 100px 550px 100px 500px 500px 500px 500px 100px;  
    }

    /* making rows take up two columsn */
    .item:nth-of-type(5), .item:nth-of-type(6), .item:nth-of-type(7), .item:nth-of-type(8){
        grid-column: 1/3; 
    }

    /* OUR STORY TEXT SECTION */

    /* centering background img */
    .item:nth-of-type(3){
        background-position-x: -400px;    
    }

    /* formatting text */
    .item:nth-of-type(3) h1{
        margin: 0 4% 0;   
    }

    .person .profile{
        /* sizing img */
        width: 200px;
    } 

    /* sizing OUR STORY text section header */
    .item:nth-of-type(3) h1{
        font-size: 20px;
    }

    /* sizing OUR STORY text section paragraph */
    .item:nth-of-type(3) p{
        font-size: 14px;
    }

    /* sizing footer header */
    .item:nth-of-type(9) h1{
        font-size: 20px;
    }
}








