/* from https://www.youtube.com/watch?v=DZg6UfS5zYg */
 



.menu-wrap .toggler {
    /* positioning hamburger bar toggler*/
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 2;
    /* makes cursor a pointer when hovering over toggler */
    cursor: pointer;
    /* sizing toggler*/
    width: 50px;
    height: 50px;
    /* making checkbox invisible (we don't want to see checkbox that activates menu pop up) */
    opacity: 0;
  }


.menu-wrap {
    /* keeping hamburger bar to stay at the top even when scrolling down*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .hamburger {
    /* positioning square that lines of hamburger menu sits inside of */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* sizing square */
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    /* using flex to center the hamburger lines in square (centering on main axis via justify-content and on cross axis align-items) */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* middle line of hamburger */
  .menu-wrap .hamburger > div {
    /* positioning middle line */
    position: relative;
    width: 100%;
    height: 2px;
    /* color of line */
    background: #fff; 
    flex: none;
    /* using flex to center middle line in square where hamburger menu sits (centering on main axis via justify-content and on cross axis align-items) */
    display: flex;
    align-items: center;
    justify-content: center;
    /* making rotation of hamburger lines smooth */
    transition: all 0.4s ease; 
  }
  
  /* top and bottom hamburger lines */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    /* positioning both top and bottom lines above middle line */
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    /* color of lines */
    background: #fff;
  }
  
  /* moving the bottom line that was positioned at the top to the bottom*/
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* toggler animation */
 .menu-wrap .toggler:checked + .hamburger > div {  /* if the togler is in checked state */
    /* rotating the hamburger lines */
    transform: rotate(135deg); 
  }
  
  /* lines turn into x */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    /* positioning and rotating x */
    top: 0;
    transform: rotate(90deg);
  }
  
  /* when in checked state, if cursor hovers over x, it will rotate 225 deg */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* popup menu */
  .menu-wrap .menu {
    /* positioning and sizing menu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    /* making menu visible intitially */
    visibility: hidden;
    /* using flex to center menu in screen (centering on main axis via justify-content and on cross axis align-items) */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* designing darkened pop up screen that appears when hamburger menu is clicked */
  .menu-wrap .menu > div {
    /* color of pop up screen */
    background: var(--overlay-color);
    /* border-radius: 50%; */
    /* positioning pop up screen (will extend passed the width and height of screen */
    width: 200vw;
    height: 200vw;
    /* using flex to center pop up on the screen (centering on main axis via justify-content and on cross axis align-items) */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    /* creates effect of pop up shooting out from middle of screen */
    transform: scale(0); /*starts with scale of 0 (can't see it)*/
    /* making pop up transition smooth */
    transition: all 0.4s ease;
  }
  
  /* positioning links in menu */
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    /* making links invisible until toggler is checked */
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  /* styling list items in menu  */
  .menu-wrap .menu > div > div > ul > li {
    list-style: none; /*gets rid of bullet points*/
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  /* styling links in menu */
  .menu-wrap .menu > div > div > ul > li > a {
    color: #fff;
    text-decoration: none; /* removing underline */
    /* transition: color 0.4s ease;  */
  }



  /* when toggler is checked, make visibility of the popup menu visible */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  /* makes popup screen appear (setting transform to 1) at a given speed set by the variable menu-speed when toggler is checked*/
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  /* making links appear when toggler is checked*/
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  